<div class="row" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
    <div class="col-1"></div>
    <!-- <div> -->
    <div class="col-sm-4">
        <!-- <div class="card" style="width: 100%;"> -->
          <div class="carta">
            <img src="{{ proyecto.urlImagen }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ proyecto.nombre }}</h5>
            </div>
          </div>
          <!-- </div> -->
    </div>
    <div class="col-sm-4">
        <!-- <div [class]="tema" [ngClass]="descripcion" style="width: 100%;" [id]="temaCarta" id="segundaCard"> -->
          <div [class]="descripcion" class="carta2">
            <div class="card-header">
              <p class="card-text">{{ proyecto.descripcion }}</p>
            </div>
            <div class="card-body">
              <p>Tecnologias implementadas:</p>
              <div class="tecnologias">
                <img src="../../../../../assets/img/nodejs-logo.png" height="30px">
                <img src="../../../../../assets/img/Angular_full_color_logo.svg.png" height="32px" style="margin-top: -2px;">
                <img src="../../../../../assets/img/springboot-logo.png" height="26px" style="margin: 2px 0 0 3px;">
              </div>
            </div>
            <div class="card-footer">
              <a class="btn btn-dark" href="{{ proyecto.link }}" target="_blank">Abrir</a>
            </div>
            <div class="card-footer" style="margin-top: 10px;">
              <a class="btn btn-dark btn-sm">Detalles</a>
            </div>
          <!--  -->
          </div>
    <!-- </div> -->
  </div>
    <div class="col-3"></div>
</div>