<div class="row" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
    <div class="col-1"></div>
    <!-- <div> -->
    <div class="col-sm-4">
        <!-- <div class="card" style="width: 100%;"> -->
          <div class="carta">
            <img *ngIf="proyecto.urlImagen!='../../../../../assets/img/1.jpg'" src="{{ proyecto.urlImagen }}" class="card-img-top" alt="...">
            <img *ngIf="proyecto.urlImagen=='../../../../../assets/img/1.jpg'" src="{{ proyecto.urlImagen }}" class="card-img-top" alt="..." height="200px">
            <div class="card-body">
              <h5 class="card-title">{{ proyecto.nombre }}</h5>
            </div>
          </div>
          <!-- </div> -->
    </div>
    <div class="col-sm-4">
        <!-- <div [class]="tema" [ngClass]="descripcion" style="width: 100%;" [id]="temaCarta" id="segundaCard"> -->
          <div [class]="descripcion" class="carta2">
            <div class="card-header">
              <p class="card-text">{{ proyecto.descripcion }}</p>
            </div>
            <div class="card-body">
              <p>Tecnologías implementadas:</p>
              <div class="tecnologias">
                <div *ngFor="let tecnologia of proyecto.tecnologias">
                  <img *ngIf="tecnologia=='node'" src="../../../../../assets/img/nodejs-logo.png" height="30px">
                  <img *ngIf="tecnologia=='angular'" src="../../../../../assets/img/Angular_full_color_logo.svg.png" height="32px" style="margin-top: -2px;">
                  <img *ngIf="tecnologia=='springboot'" src="../../../../../assets/img/springboot-logo.png" height="26px" style="margin: 2px 0 0 3px;">
                  <img *ngIf="tecnologia=='javascript'" src="../../../../../assets/img/js.png" height="23px" style="margin: 5px 0 0 5px;">
                  <img *ngIf="tecnologia=='html'" src="../../../../../assets/img/html.png" height="30px">
                  <img *ngIf="tecnologia=='css'" src="../../../../../assets/img/css.png" height="30px">
                  <img *ngIf="tecnologia=='java'" src="../../../../../assets/img/java.png" height="40px">
                  <img *ngIf="tecnologia=='react'" src="../../../../../assets/img/react.png" height="26px">
                </div>
              </div>
              <div class="estado alert" [class]="claseAlerta">
                <!-- <p>Estado: {{ proyecto.estado }}</p> -->
                Estado: {{ proyecto.estado }}
              </div>
            </div>
            <div class="card-footer">
              <a *ngIf="proyecto.estado=='En desarrollo (En línea)'||proyecto.estado=='En funcionamiento (En línea)'" class="btn btn-dark" href="{{ proyecto.link }}" target="_blank">
                Abrir
              </a>
            </div>
            <div class="card-footer">
              <a *ngIf="proyecto.estado=='En funcionamiento (Sin desplegar)'||proyecto.nombre=='Simulador de piano'||proyecto.nombre=='Simulador de sintetizadores'||proyecto.nombre=='Calculadora de préstamos'||proyecto.nombre=='E-commerce 2'" class="btn btn-dark d-flex align-items-center" href="{{ proyecto.repo }}" target="_blank">
                Repositorio
              </a>
              <a *ngIf="proyecto.nombre=='Simulador de piano'" href="https://codepen.io/zastrow/pen/kxdYdk" target="_blank" class="btn btn-dark">
                Diseño
              </a>
              <a *ngIf="proyecto.nombre=='Simulador de sintetizadores'" href="https://codepen.io/zastrow/pen/kxdYdk" target="_blank" class="btn btn-dark">
                Diseño (adaptado)
              </a>
            </div>
            <div class="card-footer" style="margin-top: 10px;">
              <a *ngIf="proyecto.nombre=='Nakama store'||proyecto.nombre=='E-commerce'" href="{{ proyecto.repo }}" target="_blank" class="btn btn-dark">
                Repositorio Front-End
              </a>
              <a *ngIf="proyecto.nombre=='Nakama store'" href="https://github.com/Leo22mv/nakama-b" target="_blank" class="btn btn-dark btn-sm">
                Repositorio Back-End
              </a>
            </div>
            <div class="card-footer" style="margin-top: 10px;">
              <a *ngIf="proyecto.estado=='En desarrollo (En línea)'&&proyecto.nombre=='E-commerce'" href="https://github.com/Leo22mv/ml-b" target="_blank" class="btn btn-dark btn-sm">
                Repositorio Back-End 1
              </a>
              <a *ngIf="proyecto.estado=='En desarrollo (En línea)'&&proyecto.nombre=='E-commerce'" href="https://github.com/Leo22mv/ml-b-n" target="_blank" class="btn btn-dark btn-sm">
                Repositorio Back-End 2
              </a>
            </div>
          <!--  -->
          </div>
    <!-- </div> -->
  </div>
    <div class="col-3"></div>
</div>