.descripcion {
    opacity: 0;
    transition: 0.3s all;
}
.descripcion-mostrada {
    opacity: 0.8;
    transition: 0.6s all;
    box-shadow: 8px 8px 8px #000;
    margin-top: 15px;
}
.foto {
    transition: 0.3s all;
}
.foto2 {
    transition: 0.3s all;
    box-shadow: 8px 8px 8px #000;
    transform: scale(1.01);
}
h5, p {
    text-align: center;
}
.card-footer, .tecnologias {
    display: flex;
    justify-content: center;
}
.row {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

#cartaDark {
    background-color: #212529;
}
#cartaLight {
    background-color: #f8f9fa;
}
.btn {
    box-shadow: 3px 3px 3px #000;
}
.btn:hover {
    box-shadow: 6px 6px 3px #000;
    border: 1px solid white;
}
#segundaCard {
    margin-top: 50px;
}
p {
    text-shadow: 1px 1px 2px #000;
}