<div class="flex">
    <h2 class="display-1">Argentina Programa 3.0</h2>
</div>

<div class="flex">
    <h2 class="display-4">MDP - INTI - CESSI</h2>
</div>

<div class="flex">
    <a href="https://seprogramar.inti.gob.ar/inti/certificates/verify/RTYu-gd8MAb6t7HI" target="_blank" class="btn btn-outline-secondary btn-lg">Certificado</a>
</div>

<div class="flex">
    <h2 class="display-6">Hard Skills</h2>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card-body text-center">
            <br>
            <p class="card-text">-Git (GitHub / GitFlow)</p>
            <p class="card-text">-HTML</p>
            <p class="card-text">-CSS</p>
            <p class="card-text">-Javascript</p>
            <p class="card-text">-Typescript</p>
            <p class="card-text">-Angular</p>
            <p class="card-text">-Java</p>
            <p class="card-text">-SpringBoot</p>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<div class="flex">
    <h2 class="display-6">Soft Skills</h2>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card-body text-center">
            <br>
            <p class="card-text">-Metodologías ágiles (SCRUM)</p>
            <p class="card-text">-Time boxing / Técnica de pomodoro</p>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<div class="flex">
    <a routerLink="/educacion" class="btn btn-outline-secondary">Volver</a>
</div>