<main>
    <app-three-engine></app-three-engine>
    <section class="title">
        <h1>Leo Martinez</h1>
        <h6>Desarrollador de software</h6>
    </section>
    <section class="scroll" id="scroll">
        <div class="mouse_scroll">
            <div class="mouse">
                <div class="wheel"></div>
            </div>
            <div>
                <span class="m_scroll_arrows unu"></span>
                <span class="m_scroll_arrows doi"></span>
                <span class="m_scroll_arrows trei"></span>
            </div>
        </div>
    </section>
    <section class="presentation">
        <p>
            ¡Bienvenido a mi portfolio! Me llamo Leo, y soy desarrollador web trainee. Actualmente tengo 23 años y vivo en la ciudad de Córdoba, en Argentina.
            <!-- <br> -->
            <!-- Leer mas -->
            <!-- Desde muy joven, he estado inmerso en el mundo de la tecnología, y ahora estoy enfocado en convertir mi pasión en una carrera gratificante.
            <br>
            Mi viaje en el desarrollo ha sido emocionante hasta ahora, y estoy ansioso por seguir aprendiendo y creciendo en esta industria en constante evolución. En este momento me encuentro en búsqueda activa de oportunidades laborales (remuneradas o no) que me permitan aplicar mis habilidades y conocimientos en cualquier rol relacionado con el desarrollo de software.
            <br>
            Durante mis diversas capacitaciones he adquirido una sólida comprensión de los principios fundamentales del desarrollo web, incluidos HTML, CSS y JavaScript. Además, he explorado y utilizado tanto frameworks populares para frontend (por ejemplo React.js o Angular), como tecnologías enfocadas en el backend (como Node.js o Java), y estoy muy emocionado por seguir profundizando mis conocimientos en estas tecnologías y aprender nuevas habilidades que impulsen mi carrera.
            <br>
            Estoy abierto a cualquier desafío que se presente, y estoy dispuesto a trabajar arduamente para alcanzar mis metas y objetivos profesionales.
            <br>
            Fuera del ámbito laboral, me encanta explorar nuevas tecnologías y asistir a eventos de la comunidad para mantenerme al día con las últimas tendencias y avances en el campo del desarrollo de software.
            <br>
            Estoy ansioso por saber lo que el futuro tiene reservado para mí en esta apasionante industria, y estoy listo para aprovechar al máximo cada oportunidad que se presente en mi camino.
            <br>
            ¡Espero que tengamos la oportunidad de conectar y colaborar en un futuro cercano! ¡Muchas gracias por su atención! -->
        </p>
    </section>
</main>