<div class="flex">
    <h2 class="display-1">OpenBootcamp</h2>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card-body text-center">
            <h5 class="card-title">Conceptos de la programación</h5>
            <a href="https://community.open-bootcamp.com/user/leo22mv/certificaciones/28368842-e911-4f0b-b257-eeab1a326e62" target="_blank" class="btn btn-outline-secondary">Certificado</a>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>


<div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card-body text-center">
            <h5 class="card-title">Introducción a la programación</h5>
            <a href="https://community.open-bootcamp.com/user/leo22mv/certificaciones/a6487f6b-0c8a-42e2-b3ef-19820b20213f" target="_blank" class="btn btn-outline-secondary">Certificado</a>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card-body text-center">
            <h5 class="card-title">Java básico</h5>
            <a href="https://community.open-bootcamp.com/user/leo22mv/certificaciones/a3dd5ca4-0cef-446c-a2e9-8f4dfb6bdc52" target="_blank" class="btn btn-outline-secondary">Certificado</a>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<div class="flex">
    <a routerLink="/old_version/educacion" id="back" class="btn btn-outline-secondary">Volver</a>
</div>