<div class="flex">
    <h2 class="display-1">Educación y certificaciones</h2>
</div>

<div class="elemento" *ngFor="let elemento of listaElementos">
    <app-elemento [elemento]="elemento"></app-elemento>
</div>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col">
            <div class="card-body text-center">
              <h5 class="card-title">Otros</h5>
              <p class="card-text">Openbootcamp</p>
              <a routerLink="/ob" class="card-link">Detalles</a>
            </div>
    </div>
    <div class="col-sm-3"></div>
</div>