.flex {
    display: flex;
    justify-content: center;
}
h2 {
    margin: 30px auto;
    line-height: 100%;
    text-shadow: 1px 1px 2px gray;
    margin: 70px;
    text-align: center;
}
.elemento {
    margin-top: 30px;
}

.card-body {
    margin-top: 50px;
}
.card-link {
    color: inherit;
    transition: 0.2s all;
}
.card-link:hover {
    /* color: black; */
    text-shadow: 1px 1px 2px black;
}
.card-title {
    margin-bottom: 30px;
}