<div class="flex">
    <h2 class="display-1">Introducción al desarrollo backend con NodeJS</h2>
</div>

<div class="flex">
    <h2 class="display-4">UTN - SEU</h2>
</div>

<div class="flex">
    <a href="https://drive.google.com/file/d/17YuNwULRcEY68A853c_zQduM1nyHg9Jw/view?usp=sharing" target="_blank" class="btn btn-outline-secondary btn-lg">Certificado</a>
</div>

<!-- <div class="flex">
    <h2 class="display-6">Hard Skills</h2>
</div> -->

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card-body text-center">
            <br>
            <p class="card-text">-NodeJS</p>
            <p class="card-text">-MongoDB</p>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<!-- <div class="flex">
    <h2 class="display-6">Soft Skills</h2>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card-body text-center">
            <br>
            <p class="card-text">-Metodologías ágiles (SCRUM)</p>
            <p class="card-text">-Time boxing / Técnica de pomodoro</p>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div> -->

<div class="flex">
    <a routerLink="/old_version/educacion" class="btn btn-outline-secondary">Volver</a>
</div>