<div class="flex">
    <h2 class="display-1">Oracle next education (ONE)</h2>
</div>

<div class="flex">
    <h2 class="display-4">Alura - Oracle</h2>
</div>

<div class="flex">
    <a href="https://app.aluracursos.com/program/certificate/188316be-996c-45ca-b299-2bdc37cea92f" target="_blank" class="btn btn-outline-secondary btn-lg">Certificado</a>
</div>

<div class="flex">
    <a href="https://app.aluracursos.com/user/g-leonel-m17/fullCertificate/771b7b2512720e8e8e899501dc967c29" target="_blank" class="btn btn-outline-secondary btn-lg">Certificado detallado</a>
</div>

<div class="flex">
    <h2 class="display-6">Hard Skills</h2>
</div>


<div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card-body text-center">
            <h5 class="card-title">Formación: Principiante en programación</h5>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/degree-programacion-primeros-pasos-grupo3-one-15466/certificate" target="_blank" class="btn btn-outline-secondary">Certificado</a>
            <h6 class="card-subtitle mb-2 text-muted">Lista completa de cursos:</h6>

            <p class="card-text">Lógica de programación: Primeros pasos</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/logica-de-programacion-primeros-pasos/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Lógica de programación: Conceptos primordiales</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/logica-de-programacion-conceptos-primordiales/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Lógica de programación: Practicando con juegos y animaciones</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/logica-de-programacion-juegos-animaciones/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">HTML5 y CSS3 parte 1: Mi primera página web</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/html5-css3-primera-pagina-web/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">HTML5 y CSS3 parte 2: Posicionamiento, listas y navegación</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/html5-css3-posicionamiento-listas-navegacion/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">HTML5 y CSS3 parte 3: Trabajando con formularios y tablas</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/html5-css3-formularios-tablas/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">HTML5 y CSS3 parte 4: Avanzando en CSS</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/html5-css3-avanzando-css/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Git y GitHub: controle y comparta su código</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/git-github-control-version/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card-body text-center">
            <h5 class="card-title">Formación: Java orientado a objetos</h5>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/degree-javaoo-grupo3-one-15489/certificate" target="_blank" class="btn btn-outline-secondary">Certificado</a>
            <h6 class="card-subtitle mb-2 text-muted">Lista completa de cursos:</h6>

            <p class="card-text">Java JRE y JDK: compile y ejecute su primer programa</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/java-primeros-pasos/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Java OO: Entendiendo la orientación a objetos</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/java-parte2-introduccion-orientada-objetos/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Java polimorfismo: Entendiendo herencia e interfaces</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/java-parte-3-entendiendo-herencia-interfaces/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Java excepciones: Aprenda a crear, lanzar y controlar excepciones</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/java-excepciones/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Java y java.lang: Programe con la clase Object y String</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/java-lang-clase-object-string/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Java y java.util: Colecciones, Wrappers y Lambda expressions</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/java-util-coleciones-wrappers-lambda-expressions/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Java: Dominando las Collections</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/java-dominando-collections/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Introducción a SQL con MySQL: Manipule y consulte datos</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/introduccion-sql-mysql-manipule-consulte-datos/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Java y JDBC: Trabajando en una base de datos</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/java-jdbc-trabajando-base-datos/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card-body text-center">
            <h5 class="card-title">Formación: Front End</h5>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/degree-frontend-grupo3-one-15473/certificate" target="_blank" class="btn btn-outline-secondary">Certificado</a>
            <h6 class="card-subtitle mb-2 text-muted">Lista completa de cursos:</h6>

            <p class="card-text">Flexbox: Posicione elementos en la pantalla</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/flexbox-posicione-elementos-pantalla/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">CSS Grid: Simplificando layouts</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/css-grid-simplificando-layouts/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Layouts responsivos: Trabajando con layouts mobile</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/layouts-responsivos-layouts-mobile/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Arquitectura CSS: Descomplicando los problemas</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/arquitectura-css-descomplicando-problemas/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">JavaScript: primeros pasos con el lenguaje</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/javascript-primeros-pasos-lenguaje/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>
            
            <p class="card-text">JS en la web: Manipulacion del DOM con JavaScript</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/js-web-manipulacion-dom-javascript/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">JS en la web: Validación de formularios y HTML5</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/javascript-web-validacion-formularios-html5/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">JavaScript: Introducción a la orientación a objetos</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/javascript-introduccion-orientacion-objetos/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">JavaScript: Herencia e interfaces en orientación a objetos</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/javascript-herencia-interfaces-orientacion-objetos/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">JS en la web: Almacenando datos en el navegador</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/js-web-almacenando-datos-navegador/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">JS en la web: CRUD con JavaScript asíncrono</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/js-web-crud-javascript-asincrono/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<div class="flex">
    <h2 class="display-6">Soft Skills</h2>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <div class="card-body text-center">
            <h5 class="card-title">Formación: Desarrollo personal</h5>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/degree-desarrollo-personal-grupo3-one-15460/certificate" target="_blank" class="btn btn-outline-secondary">Certificado</a>
            <h6 class="card-subtitle mb-2 text-muted">Lista completa de cursos:</h6>

            <p class="card-text">Linkedin: Como hacer que tu perfil trabaje por ti</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/linkedin-hacer-perfil-trabaje-por-ti/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Foco: Enfocarse trae mas resultados para el día a día</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/foco-habito-dia-a-dia/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Hábitos: Ser productivo para cumplir sus metas personales</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/habitos-productivo-metas-personales/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>

            <p class="card-text">Productividad: Estrategias para actividades diarias</p>
            <a href="https://app.aluracursos.com/user/g-leonel-m17/course/productividad-parte-1-estrategias-actividades-diarias/certificate" target="_blank" class="btn btn-outline-secondary btn-sm">Certificado</a>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>