<nav class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="../../../assets/img/Logo.png" alt="Logo" width="50px">
    </a>
    <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <img src="../../../assets/img/Toggler.png" alt="Logo" width="50px">
    </a>
    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Bienvenido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<br><br><br>