<div class="flex">
    <h2 class="display-1">Contacto</h2>
</div>
<div class="flex">
    <h3 class="display-5">Redes sociales</h3>
</div>
<div class="flexx">
    <a href="https://www.linkedin.com/in/leo-mv/" target="_blank" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
        <img src="../../../../../assets/img/logo-linkedin.png">
        <h5 [class]="user">/leo-mv</h5>
    </a>
    <a href="https://github.com/Leo22mv" target="_blank" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
        <img src="../../../../../assets/img/logo-github.png">
        <h5 [class]="user">/Leo22mv</h5>
    </a>
</div>
